strong {color: black;}

#loginTable{
border-style: solid;
border-color: black;
empty-cells: show;
text-align: right;
table-layout:fixed;
width: 30.5%

}

table {
  background-color: white;

}
p.small {
    line-height: 70%;
}

p.big {
    line-height: 400%;
}